<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcss.dao.LoginDao">

    <insert id="insertLoginInfo" parameterType="LoginInfo">
        insert into login(name,password,status,time) value(#{name},#{password},#{status},#{time})
    </insert>
    <delete id="deleteLoginInfo" parameterType="java.util.List">
        delete from login where name in
        <foreach collection="list" item="loginInfo" separator="," open="(" close=")">
            #{loginInfo.name}
        </foreach>
    </delete>
    <update id="updateLoginInfo" parameterType="LoginInfo">
       update login set password = #{newPassword} where name = #{name}
    </update>
    <select id="selectLoginInfo" resultType="LoginInfo">
        select * from login
        <where>
            <if test="name!=null and name!=''">
                and name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
        </where>
    </select>
    <!--检查登录信息，判断数据库中是否存在-->
    <select id="checkLoginInfo" resultType="LoginInfo">
        select * from login where name = #{name} and password = #{password}
    </select>
</mapper>